.login-popup {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}

.dark .login-popup {
    background: #00000090; 
}

.login-popup-container {
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
    background-color: lavenderblush;
}

.dark .login-popup-container {
    background-color: #1a1919;
    color: #fff;
}

.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.dark .login-popup-title {
    color: #fff;
}

.login-popup-title img {
    width: 16px;
    cursor: pointer;
}

.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-inputs input {
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
    font-family: system-ui;
    font-size: larger;
}

.dark .login-popup-inputs input {
    background-color: #ffffff;
    color: #000;
}

.login-popup-container button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: #C80036;
    font-size: 15px;
    cursor: pointer;
    font-size: large;
    font-family: sans-serif;
}

.login-popup-container button:hover{
    color: tomato;
    opacity: 85%;
}

.dark .login-popup-container button {
    background-color: #C80036;
}

.dark .login-popup-container button:hover{
    color: #0C1844;
    opacity: 80%;
}

.login-popup-condition {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}

.login-popup-condition input {
    margin-top: 5px;
}

.login-popup p span {
    color: #C80036;
    font-weight: 500;
    cursor: pointer;
}

.dark .login-popup p span {
    color: #FF8CAB;
}

.link_line:hover{
    text-decoration: underline;

}

#tick{
    height: 30px;
    width: 20px;
}

#tick:hover{
    opacity: 50%;
}

#condition{
    font-size:medium;
    font-family: none
}
.Input_Names{
    display:contents;
    justify-content: center;
    align-items: center;
}